body {
	margin: 0;
}
#timerDisplayContainer{
	padding: 1em;
	width: 100%;
}

#timerDisplay {
	font-size: 28vmax;
	text-align: center;
}

.warningTime {
	background-color: #FFDE00;
	color: #FFFFFF;
}

.timeOut {
	background-color: #B80000;
	color: #FFFFFF;
}